*{
    margin: 0;
    padding: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.header{
    min-height: 87vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/smallpic.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{ 
    width: 60px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display:  inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 40;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: aliceblue;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 40%;
    color:aliceblue;
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-70%-30%);
    text-align: center;
}

.text-box h1{
    font-size: 29px;
}

.text-box h1{
    color: aliceblue;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 30;
    color: aliceblue;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: aliceblue;
    border: 1px solid aliceblue;
    padding: 12px 30px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px transparent #284975;
    background: #284975;
    transform: 1s;

}

@media (max-width:700px){
    .text-box h1{
        font-size: 40px;
    } 
    .nav-links ul li{
        display: block;
    }
    .nav-links ul{
        position: absolute;
        background: transparent;
        height: 100vh;
        width: 200px;
        top: 0;
        bottom: 0;
        text-align: left;
        z-index: 2;
    }
}

/*----mentoring----*/

.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    color: #284975;
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #284975;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col{
    flex-basis: 31%;
    background: #e4ebf2;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 6px;
    box-sizing:content-box;
    transition: 0.5s;
    
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    }

.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.3);
}
@media(max-width: 700px){
    row{
        flex-direction: column;
    }
}

/*-----Global-------------*/

.Go_Global{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 10%;
    color: #284975;
}
.global_col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 17%;
    position: relative;
    overflow: hidden;
}

.global_col img{
    width: 100%;
    display: block;
}

.layer{
    background:transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    
}

.layer:hover{
    background: rgba(0,0,0,0.2);
}

.layer h3{
    width: 100%;
    font-weight: 500;
    color: aliceblue;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}


/*--------------------Team--------------------------------*/
.team {
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 0px;
    
}
.team-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 0%;
    text-align: left;

}

.team-col img{
    width: 35%;
    border-radius: 15px;
    margin-top: 20%;
    margin: 10%;
    
    
    
}

.team-col p{
    padding: 50px;
    margin: 7%;
    margin-top: -10%;
    margin-bottom: 14%;
    text-align: left;
}





/*----------------------Charts--------------*/
.Data {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}
.data-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 15%;
    text-align: left;

}

.data-col img{
    width:100%;
    border-radius: 10px;
}

.data-col p{
    padding: 0;
}

.data-col h3{
    margin-top: 16px;
    margin-bottom: 23%;
    text-align: left;
}

/*--------------call-------*/

.cta{
    margin: 80px auto;
    width: 90%;
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(images/clement-helardot-95YRwf6CNw8-unsplash.jpg);
    background-position: bottom;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 80px 0;
    
}


.cta{
    margin-bottom: 10%; 
}




.cta h1{
    color: aliceblue;
    margin-bottom: 40px;
    padding: 0;
}

.h1{
    color: aliceblue;
}

@media(max-width: 700px){
    .cta h1{
        font-size: 24 px;
        }
}


/*-----------------Test------------------------*/

.testimonials{
    width: 80%;
    margin: auto;
    padding-top: 30px;
    text-align: center;
}

.test-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-top: 5%;
    text-align: left;
    background:#e4ebf2;
    padding: 25px;
    cursor: pointer;
    display: flex;
}

.test-col img{
    height: 120px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 10%;

}

.test-col p{
    padding: 0;
}

.test-col h3{
    margin-top: 15px;
    text-align: left;
    color: #284975;
}

.test-col .fa{
    color: #284975;
}

@media(max-width:700px){.test-col img{
    
    margin-left: 0px;
    margin-right: 15px;
    
    
}

}
/*-----------------------Calendly....................*/

/* Calendly inline widget 
#Connect {
  
    margin: 60px;
    text-align: center;
    padding-bottom: -20%;
  }

  .section-title{
      padding-top: 10%;
      padding-bottom: 3%;
      font-size: 36px;
      text-align: center;
      
  }
  
   Calendly inline widget end */

/*----------------------F------------*/

.footer{
    width: 100%;
    text-align: center;
    padding: 100px 0;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 100px;
    font-weight: 600;
    color: #284975;
}

.icons .fa{
    color: #284975;
    margin: 0 30px;
    cursor: pointer;
    padding: 18px 0;
}

.fa-heart-o{
    color: #284975;
}

